:root {
  --ink-hex: black;
  --ink-color: black;

  --ink-border: solid;
}

.grader-grid--highlighted:not(.grader-grid-cell-type-none) .grader-grid-cell-block {
  background-color: var(--ink-color) !important;
  border: var(--ink-border) 2px var(--ink-color) !important;
  outline: none !important;
}

/* Debug Element
.sgy-multiline-ellipsis {
  background-color: var(--ink-color) !important;
  border: var(--ink-border) 2px var(--ink-color) !important;
  outline: none !important;
}
*/